.app{
  background-color: #ffffff;
 
 }
 .container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-column-gap: 5rem;
   grid-row-gap: 1rem;
   margin: auto;
   width: 80%;
 
 }
 p{
   padding: 5px;
 }
 .card {
   display: flex;
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 30px;
   width: 100%;
   margin: auto;
 }
 
 .card-left {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 60%;
   flex: 1;
   border-right: 1px solid #ccc;
 }
 
 .card-right {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-end;
   width: 40%;
 }
 
 .card h2 {
   margin: 0;
 }
 
 .card p {
   margin: 0;
 }